
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Kategori Id</th>
            <th>Kategori Ad</th>
            <th>Kategori Durum</th>
            <th>Kategori Detay</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Sebze</td>
            <td>akttif</td>
            <td><button class="btn btn-primary">detaylar</button></td>
        </tr>

        <tr>
            <td>2</td>
            <td>meyve</td>
            <td>disability</td>
            <td><button class="btn btn-primary">detaylar</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>meyve</td>
            <td>disability</td>
            <td><button class="btn btn-primary">detaylar</button></td>
        </tr>

    </table>
</div>